/* HOME PAGE STYLING */
/* ------------------------ */
.hero {
	position: relative;
	height: 80vh;
	background: url(../floristImages/AdobeStock_251133408-min.jpeg) no-repeat center
		center/cover;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 2;
}
.hero h1 {
	font-size: 6rem;
	font-weight: 800;
}
.hero h3 {
	font-size: 2.5rem;
	font-weight: 100;
}
.hero p{
	font-size: 2rem;
	font-weight: 500;
}
.textContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	z-index: 30;
	text-align: center;
}

.button {
	display: inline-block;
	margin-top: 3rem;
	padding: 2rem;
	font-size: 2rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	background-color: rgb(1, 99, 1);
	border: none;
	border-radius: 5px;
	color: #fff;
	text-transform: uppercase;
	cursor: pointer;
}
.button:hover {
	transform: scale(1.1);
}
.hero::after {
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/* z-index: -10; */
	background: #000;
	opacity: 0.6;
}

.about {
	display: flex;
	justify-content: space-between;
	gap: 5rem;
	padding: 8rem 2rem;
}
.sectionImage {
	flex: 1;
	height: 520px;
	text-align: center;
}
.sectionImage img {
	height: 100%;
	width: auto;
}
.sectionText {
	flex: 2;
	display: flex;
	flex-direction: column;
}
.sectionText h2 {
	font-size: 4rem;
	text-align: center;
	color: rgb(1, 99, 1);
	border-bottom: 2px solid #000;
}
.sectionText p {
	font-size: 2rem;
	font-weight: 100;
	line-height: 1.5;
	margin: 2.5rem 0;
}
.workingHours {
	font-size: 2rem;
}
.workingHours dd {
	padding: 0 5rem;
	font-weight: 600;
	color: rgb(1, 99, 1);
}

@media(max-width: 780px) {
	.about {
		flex-direction: column;
		gap: 5rem;
		padding: 5rem 2rem;
	}
	.sectionImage {
		width: 450px;
		height: 420px;
		margin: 0 auto;
	}
	.sectionImage img {
		height: 100%;
		width: 100%;
	}
	.hero h1 {
		font-size: 4rem;
		font-weight: 600;
	}
	.hero h3 {
		font-size: 2rem;
		font-weight: 100;
	}
	.sectionText h2 {
		font-size: 3rem;
	}
}

@media(max-width: 540px){
	.sectionImage {
		width: 250px;
		height: 250px;
	}
	.sectionImage img {
		height: 100%;
		width: 100%;
	}
	.button{
		margin-top: 3.5rem;
		padding: 1.5rem 3rem;
		font-size: 1.8rem;
	}
	.hero{
		height: 100vh;
	}
	.hero h1 {
		font-size: 2.5rem;
		font-weight: 600;
	}
	.hero h3 {
		margin-top: 1rem;
		font-size: 1.8rem;
		font-weight: 100;
	}
	.hero p{
		font-size: 1.4rem;
		font-weight: 500;
	}
	.sectionText h2 {
		font-size: 3.5rem;
	}
	.sectionText p{
		font-size: 1.8rem;
	}
}